div.z-date {
  font-family: 'Microsoft YaHei';
  position: relative; }
  div.z-date div.z-d-show {
    padding: 5px; }
    div.z-date div.z-d-show input {
      font-size: 18px;
      outline: none;
      border: 1px solid #989898;
      border-radius: 6px;
      color: #989898;
      width: 12em;
      height: 1.5em;
      padding: 0 0.5em;
      transition: box-shadow 0.2s linear; }
      div.z-date div.z-d-show input:hover {
        border-color: #404040;
        box-shadow: 0 0 3px 2px #989898; }
  div.z-date div.z-d-pad {
    position: absolute;
    z-index: 999;
    background-color: white;
    border: 1px solid #989898;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px #989898;
    padding: 0 1em;
    margin: 5px 0; }
    div.z-date div.z-d-pad div.z-d-head {
      text-align: center;
      height: 20px;
      padding: 2px; }
      div.z-date div.z-d-pad div.z-d-head * {
        display: inline-block; }
      div.z-date div.z-d-pad div.z-d-head span {
        width: 0;
        height: 0;
        border: none;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent; }
      div.z-date div.z-d-pad div.z-d-head span.z-d-prev, div.z-date div.z-d-pad div.z-d-head span.z-d-next {
        margin: 4px; }
      div.z-date div.z-d-pad div.z-d-head span.z-d-prev {
        border-right: 8px solid #606060;
        float: left; }
        div.z-date div.z-d-pad div.z-d-head span.z-d-prev:hover {
          border-right-color: #989898; }
      div.z-date div.z-d-pad div.z-d-head span.z-d-next {
        border-left: 8px solid #606060;
        float: right; }
        div.z-date div.z-d-pad div.z-d-head span.z-d-next:hover {
          border-left-color: #989898; }
      div.z-date div.z-d-pad div.z-d-head input {
        outline: none;
        border: 1px solid transparent;
        padding: 0 2px;
        margin: 0 5px;
        font-size: 12px;
        font-weight: lighter;
        font-color: #989898; }
        div.z-date div.z-d-pad div.z-d-head input:hover {
          border: 1px solid #989898;
          border-radius: 2px; }
      div.z-date div.z-d-pad div.z-d-head input.z-d-m {
        width: 1.5em; }
      div.z-date div.z-d-pad div.z-d-head input.z-d-y {
        width: 3em; }
    div.z-date div.z-d-pad div.z-d-cal {
      cursor: pointer; }
      div.z-date div.z-d-pad div.z-d-cal div {
        margin: 1em 0;
        font-size: 14px;
        text-align: center; }
        div.z-date div.z-d-pad div.z-d-cal div span {
          user-select: none;
          -ms-user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          width: 2em;
          display: inline-block;
          text-align: center;
          color: #202020;
          transition: background-color 0.2s linear; }
        div.z-date div.z-d-pad div.z-d-cal div.z-d-cal-h span {
          color: #d81d18; }
        div.z-date div.z-d-pad div.z-d-cal div.z-d-cal-b span:hover {
          font-weight: bold; }
      div.z-date div.z-d-pad div.z-d-cal .z-d-not-in {
        color: grey; }
      div.z-date div.z-d-pad div.z-d-cal .z-d-ran {
        background-color: #93b1c6; }
      div.z-date div.z-d-pad div.z-d-cal .z-d-ter {
        border-radius: 2px;
        background-color: #004687;
        color: white; }

/*# sourceMappingURL=zdate.css.map */
