$main-gray: #F8F8F8;
$white: #ffffff;
$main-blue: #00dddd;
$font-color-gray: #666666;

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Microsoft YaHei";
	background-color: $main-gray;
}

header{
	background-color: $main-blue;
	text-align: center;
	position: relative;
	height: 4em;
	line-height: 4em;
	color: $white;
}
header > a{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 1em;
}

.flex-container{
  	display: flex;
  	display: -webkit-flex;
  	flex-direction: row;
  	-webkit-flex-direction: row;
  	justify-content: space-around;
 	-webkit-justify-content: space-around;
	list-style: none;
	background-color: $white;
}

nav{
	> ul{
		> li{
			$nav-border-width: 3px;
			$nav-border-style: solid;

			padding: 0 1em;
			line-height: 3em;
			border-bottom: $nav-border-width $nav-border-style $white;

			&:hover{
				border-bottom: $nav-border-width $nav-border-style $main-blue;
			}

			> a{
				text-decoration: none;
				color: $font-color-gray;
			}
		}
	}
}

.main-figure{
	display: block;
	width: 100%;
}

.label-group{
	padding: 10px;
	border-bottom: 2px solid $main-gray;

	.circle{
		$radius: 25px;

		background-color: $main-blue;
		width: 2*$radius;
		height: 2*$radius;
		border: 1px solid $main-blue;
		border-radius: 2*$radius;
	}

	p{
		text-align: center;
		line-height: 2em;
	}
}

.column-group{
	> li{
		text-align: center;
		margin-bottom: 1em;

		$img-width-ratio: 30.8848% 31.3856% 37.7295%;

		@for $i from 1 through 3{
			&:nth-of-type(#{$i}){
				width: nth($img-width-ratio, $i);
			}
		}

		$mid-col-border: 2px solid $main-gray;

		&:nth-of-type(2){
			border-right: $mid-col-border;
			border-left: $mid-col-border;
		}

		img{
			width: 70%;
		}

		h1, h2{
			font-weight: normal;
		}

		h1{
			font-size: 1.2em;
		}

		h2{
			font-size: 1em;
			color: $font-color-gray;
		}
	}
}

.module-group{
	margin: 1em 0;
	padding: 1em;
	background-color: $white;
	overflow: hidden;

	> h1{
		color: $font-color-gray;
	}

	> .module{
		$img-size: 100px;
		$img-border: 1px;

		margin: 1em 0;
		overflow: hidden;

		> img{
			width: $img-size;
			height: $img-size;
			float: left;
			border: $img-border solid #FF0000;
		}

		> ul{
			width: calc(100% - #{$img-size + 2*$img-border});
			height: #{$img-size + 2*$img-border};
			float: right;
			list-style: none;

			$gutter: 0.8em;

			> li{
				text-align: center;
				background-color: $main-gray;
				width: calc(50% - #{$gutter});
				margin-left: $gutter;
				height: calc(50% - #{$gutter / 2});
				line-height: $img-size / 2;
			}

			>li{
				&:nth-of-type(1), &:nth-of-type(2){
					margin-bottom: $gutter;
				}

				&:nth-of-type(1), &:nth-of-type(3){
					float: left;
				}

				&:nth-of-type(2), &:nth-of-type(4){
					float: right;
				}
			}
		}
	}
}

.article-group{
	margin: 1em 0;

	> article{
		$article-padding: 12px;
		$img-width: 120px;
		$img-height: 85px;

		background-color: #ffffff;
		padding: $article-padding;
		margin-bottom: 2px;
		position: relative;

		> img{
			width: $img-width;
			height: $img-height;
			position: absolute;
			top: $article-padding;
			left: $article-padding;
		}

		.article-r{
			width: calc(100% - $article-padding);
			margin-left: ($img-width + $article-padding);
			height: $img-height;
			position: relative;

			h1, p{
				position: absolute;
			}

			h1{
				top: 0;
				left: 0;
			}

			p{
				bottom: 0;
				left: 0;
				color: $font-color-gray;
			}
		}

		> .flex-container{
			justify-content: space-between;

			> img{
				width: 30%;
				height: 85px;
			}
		}

		> p{
			color: $font-color-gray;
		}
	}
}