$mask-color: black;
$content-color: white;
$content-width: 30%;
$content-height: 30%;

div.z-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $mask-color;
	opacity: 0.5;
	visibility: hidden;
	div.z-modal-content{
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

		position: absolute;
		padding: 10px;
		border-radius: 5px;
		max-width: $content-width;
		height: $content-height;
		background-color: $content-color;
		overflow: auto;
		cursor: move;
	}
}
div.z-modal-show{
	visibility: visible;
}