$content-width: 50%;

div.z-modal{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	visibility: hidden;
	z-index: $zindex-max;
	overflow: auto;
	div.z-modal-content{
		padding: 10px;
		width: $content-width;
	}
	div.z-m-c-fixed{
		margin: 8% auto;
	}
}
div.z-modal-show{
	visibility: visible;
}