table.z-table{
	font-family: $font-stack;
	border-collapse: collapse;
	td{
		text-align: center;
	}
	thead.z-table-head{
		span{
			padding: 0 2em;
			line-height: 1.7em;
			display: inline-block;
			vertical-align: middle;
			&.sort{
				padding: 0 0.5em;
				div{
					&.arrow-u{
						@include arrow(0.6em, 0.4em, white, $main-grey, bottom);
						margin-bottom: 0.1em;
					}
					&.arrow-d{
						@include arrow(0.6em, 0.4em, white, $main-grey, top);
						margin-top: 0.1em;
					}
				}
			}
		}
	}
}