.z-g-jigsaw {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .z-g-jigsaw div {
    position: absolute;
    overflow: hidden;
    display: block; }
    .z-g-jigsaw div img.h-clip {
      height: 100%; }
    .z-g-jigsaw div img.v-clip {
      width: 100%; }

.z-g-jigsaw-1 div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.z-g-jigsaw-2 div {
  top: 0;
  width: 100%;
  height: 100%; }
  .z-g-jigsaw-2 div:nth-child(1) {
    left: 0; }
  .z-g-jigsaw-2 div:nth-child(2) {
    left: 33.3333%; }

.z-g-jigsaw-3 div:nth-child(1) {
  width: 70%;
  height: 100%;
  top: 0;
  left: 0; }
.z-g-jigsaw-3 div:nth-child(2) {
  width: 30%;
  height: 50%;
  top: 0;
  left: 70%; }
.z-g-jigsaw-3 div:nth-child(3) {
  width: 30%;
  height: 50%;
  top: 50%;
  left: 70%; }

.z-g-jigsaw-4 div {
  width: 50%;
  height: 50%; }
  .z-g-jigsaw-4 div:nth-child(1) {
    top: 0;
    left: 0; }
  .z-g-jigsaw-4 div:nth-child(2) {
    top: 0;
    left: 50%; }
  .z-g-jigsaw-4 div:nth-child(3) {
    top: 50%;
    left: 0; }
  .z-g-jigsaw-4 div:nth-child(4) {
    top: 50%;
    left: 50%; }

.z-g-jigsaw-5 div:nth-child(1) {
  width: 66.6666%;
  height: 66.6666%;
  top: 0;
  left: 0; }
.z-g-jigsaw-5 div:nth-child(2) {
  width: 33.3334%;
  height: 55.5556%;
  top: 0;
  left: 66.6666%; }
.z-g-jigsaw-5 div:nth-child(3) {
  width: 33.3333%;
  height: 44.4444%;
  top: 55.5556%;
  left: 66.6666%; }
.z-g-jigsaw-5 div:nth-child(4) {
  width: 33.3333%;
  height: 33.3337%;
  top: 66.6666%;
  left: 33.3333%; }
.z-g-jigsaw-5 div:nth-child(5) {
  width: 33.3333%;
  height: 33.3337%;
  top: 66.6666%;
  left: 0; }

.z-g-jigsaw-6 div {
  width: 33.3333%;
  height: 33.3333%; }
  .z-g-jigsaw-6 div:nth-child(1) {
    width: 66.6667%;
    height: 66.6667%;
    top: 0;
    left: 0; }
  .z-g-jigsaw-6 div:nth-child(2) {
    top: 0;
    left: 66.6667%; }
  .z-g-jigsaw-6 div:nth-child(3) {
    top: 33.3333%;
    left: 66.6667%; }
  .z-g-jigsaw-6 div:nth-child(4) {
    top: 66.6667%;
    left: 66.6667%; }
  .z-g-jigsaw-6 div:nth-child(5) {
    top: 66.6667%;
    left: 33.3334%; }
  .z-g-jigsaw-6 div:nth-child(6) {
    top: 66.6667%;
    left: 0; }

.z-g-waterfall {
  width: 100%;
  overflow: hidden; }
  .z-g-waterfall .z-g-waterfall-col {
    float: left;
    box-sizing: border-box;
    overflow: hidden; }
    .z-g-waterfall .z-g-waterfall-col .z-g-waterfall-pic {
      width: 100%;
      overflow: hidden;
      box-sizing: border-box; }
      .z-g-waterfall .z-g-waterfall-col .z-g-waterfall-pic img {
        width: 100%;
        display: block; }

.z-g-brick {
  width: 100%;
  overflow: hidden; }
  .z-g-brick .z-g-brick-row {
    width: 100%;
    overflow: hidden; }
    .z-g-brick .z-g-brick-row div {
      float: left;
      overflow: hidden;
      box-sizing: border-box;
      height: 100%; }
      .z-g-brick .z-g-brick-row div img {
        width: 100%;
        display: block;
        height: 100%; }

.z-gallery img:hover {
  opacity: 0.5; }

.z-g-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  .z-g-modal img {
    position: absolute;
    box-shadow: 0 0 7px 2px black; }
    .z-g-modal img.w-first {
      width: 22%; }
    .z-g-modal img.h-first {
      height: 22%; }
  .z-g-modal .z-g-modal-banner {
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0;
    left: -100%; }
    .z-g-modal .z-g-modal-banner * {
      position: absolute;
      width: 33.33333%;
      height: 100%;
      top: 0;
      transition: left 0.5s linear; }
    .z-g-modal .z-g-modal-banner .z-g-modal-b-mid {
      left: 33.33333%; }
    .z-g-modal .z-g-modal-banner .z-g-modal-b-prev {
      left: 0; }
    .z-g-modal .z-g-modal-banner .z-g-modal-b-next {
      left: 66.66666%; }
  .z-g-modal .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    top: 50%; }
  .z-g-modal .arrow-prev {
    border-right: 50px solid white;
    left: 30px; }
    .z-g-modal .arrow-prev:hover {
      border-right: 50px solid #989898; }
  .z-g-modal .arrow-next {
    border-left: 50px solid white;
    right: 30px; }
    .z-g-modal .arrow-next:hover {
      border-left: 50px solid #989898; }

.z-g-modal-hide {
  visibility: hidden; }

.z-g-modal-show {
  visibility: visible; }

/*# sourceMappingURL=zgallery.css.map */
