.z-g-waterfall{
	width: 100%;
	overflow: hidden;
	.z-g-waterfall-col{
		float: left;
		box-sizing: border-box;
		overflow: hidden;
		transition: width 0.5s linear;
		.wrapper{
			transition: width 0.5s linear, margin 0.5s linear; 
			width: 100%;
			overflow: hidden;
			box-sizing: border-box;
			img{
				width: 100%;
				height: auto;
			}
		}
		.wrapper-deleted{
			width: 0;
		}
	}
}