.zwy-select-wrapper{
	width: 238px;
	height: 38px;
	position: relative;
}
.zwy-select-down-img{
	width: 16px;
	height: 16px;
	margin: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
.zwy-select{
	width: 236px;
	height: 36px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	overflow: hidden;
	position: absolute;
}
.zwy-select:hover{
	border: 1px solid #be4e48;
	width: 236px;
	height: auto;
	overflow: visible;
	top: -1px;
	left: -1px;
}
.zwy-select-input{
	width: 224px;
	height: 36px;
	background-color: #ffffff;
	line-height: 12px;
	padding-left: 12px;
	color: #a8aaaa;
	border: none;
}
.zwy-select-dropdown{
	background-color: #e4e3e3;
}
.zwy-select-option{
	width: 236px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	background-color: transparent;
	list-style: none;
	color: #808181;
	padding-left: 26px;
}
.zwy-select-option:hover{
	background-image: url(../images/select-option.gif);
	background-position: 6px 10px;
	background-repeat:  no-repeat;
	background-color:  #be4e48;
	width: 210px;
	color: #ffffff;
}