#field{
	margin: 2em 0;
	display: flex;
	justify-content: flex-start;
}
.node{
	border: 1px solid black;
	display: flex;
	box-sizing: border-box;
	padding: 1em;
	margin: 0 0.5em;
	justify-content: flex-start;
	background-color: white;
}