$mask-color: black;
$content-color: white;
$content-width: 30%;
$content-height: 30%;

div.z-modal{
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	visibility: hidden !important;
	background-color: rgba(0,0,0,0.5);
	div.z-modal-content{
		position: absolute !important;
		padding: 10px;
		border-radius: 5px;
		width: $content-width;
		height: $content-height;
		background-color: rgba(255, 255, 255, 1);
		overflow: auto;
	}
	div.z-m-c-fixed{
		top: (100% - $content-height) / 2 !important;
		left: (100% - $content-width) / 2 !important;
	}
}
div.z-modal-show{
	visibility: visible !important;
}