$arrow-color: black;
$arrow-color-hover: grey;

table.z-table{
	border-collapse: collapse;
	*{
		background-color: white;
	} 
	td{
		padding: 0 1em;
		border: 1px solid #202020;
		font-size: 1em;
		text-align: center;
	}
	thead.z-table-head{
		span{
			line-height: 1em !important;
			display: inline-block !important;
			vertical-align: middle !important;
			&.sort{
				div{
					width: 0 !important;
					height: 0 !important;
					padding: 0 !important;
					border-left: 0.3em solid !important;
					border-right: 0.3em solid !important;
					border-color: transparent !important;
					&.arrow-u{
						margin: 0.15em 0 0.1em 0 !important;
						border-bottom: 0.3em solid $arrow-color !important;
						&:hover{
							border-bottom-color: $arrow-color-hover !important;
						}
					}

					&.arrow-d{
						margin: 0.1em 0 0.15em 0 !important;
						border-top: 0.3em solid $arrow-color !important;
						&:hover{
							border-top-color: $arrow-color-hover !important;
						}
					}
				}
			}
		}
	}
}