$space-size: 500px;
$space-color: black;

$planet-radius: 100px;
$planet-color: blue;

$orbit-radius: 150px;

$ship-length: 90px;
$ship-width: 30px;

$cmd-border: 3px solid gray;

body{
	position: relative;
}

.space{
	width: $space-size;
	height: $space-size;
	background-color: $space-color;
	position: relative;
}

@mixin concentric($radius){
	position: absolute;
	left: $space-size / 2 - $radius;
	top: $space-size / 2 - $radius;
	height: 2 * $radius;
	width: 2 * $radius;
}

.planet{
	@include concentric($planet-radius);
	border-radius: $planet-radius;
	background-color: $planet-color;
}

.orbit{
	@include concentric($orbit-radius);
}

.ship{
	width: $ship-length;
	height: $ship-width;
	background-color: red;
	position: absolute;
	left: $orbit-radius - $ship-length / 2;
	top: 0;
	color: white;
	text-align: center;
}

.cmd{
	width: $space-size;
	border-top: $cmd-border;
	border-bottom: $cmd-border;
	margin: 10px 0;
	padding: 10px 0;
}

.console{
	width: 500px;
	height: 200px;
	background-color: gray;
	position: absolute;
	top: 0;
	right: 0;
	overflow: scroll;
}