.z-g-brick{
	width: 100%;
	overflow: hidden;
	.z-g-brick-row{
		width: 100%;
		overflow: hidden;
		.wrapper{
			float: left;
			overflow: hidden;
			box-sizing: border-box;
			height: 100%;
			img{
				width: 100%;
				display: block;
				height: 100%;
				//-webkit-clip-path: polygon(10px 10px, 100% 10px, 100% 100%, 10px 100%);
			}
		}
	}
}