.z-g-waterfall{
	width: 100%;
	overflow: hidden;
	.z-g-waterfall-col{
		float: left;
		box-sizing: border-box;
		overflow: hidden;
		.z-g-waterfall-pic{
			width: 100%;
			overflow: hidden;
			box-sizing: border-box;
			img{
				width: 100%;
				display: block;
			}
		}
	}
}