@import "_jigsaw.scss";
@import "_waterfall.scss";
@import "_brick.scss";

$modal-children-shadow: 0 0 7px 2px black;

$arrow-height: 30px;
$arrow-width: 50px;
$arrow-displace: 30px;
$arrow-color: white;
$arrow-hover-color: #989898;


.z-gallery{
	img:hover{
		opacity: 0.5;
	}
}
.z-g-modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8); 
	img{
		position: absolute;
		box-shadow: $modal-children-shadow;
		&.w-first{
			width: 22%;
		}
		&.h-first{
			height: 22%;
		}
	}
	.z-g-modal-banner{
		position: absolute;
		width: 300%;
		height: 100%;
		top: 0;
		left: -100%;
		*{
			position: absolute;
			width: 33.33333%;
			height: 100%;
			top: 0;
			transition: left 0.5s linear;
		}
		.z-g-modal-b-mid{
			left: 33.33333%;
		}
		.z-g-modal-b-prev{
			left: 0;
		}
		.z-g-modal-b-next{
			left: 66.66666%;
		}
	}
	.arrow{
		position: absolute;
		width: 0;
		height: 0;
		border: $arrow-height solid transparent;
		top: 50%;
	}
	.arrow-prev{
		border-right: $arrow-width solid $arrow-color;
		left: $arrow-displace;
		&:hover{
			border-right: $arrow-width solid $arrow-hover-color;
		}
	}
	.arrow-next{
		border-left: $arrow-width solid $arrow-color;
		right: $arrow-displace;;
		&:hover{
			border-left: $arrow-width solid $arrow-hover-color		
		}
	}
}
.z-g-modal-hide{
	visibility: hidden;
}
.z-g-modal-show{
	visibility: visible;
}