@import "_jigsaw.scss";
@import "_waterfall.scss";
@import "_brick.scss";

$modal-children-shadow: 0 0 7px 2px black;

$arrow-height: 30px;
$arrow-width: 50px;
$arrow-displace: 30px;
$arrow-color: white;
$arrow-hover-color: #989898;

$banner-prev-pos: 100% / 6;
$banner-mid-pos: 100% / 2;
$banner-next-pos: 100% * 5 / 6;

$font-stack: 'Microsoft YaHei';

$del-radius: 0.5em;

.z-gallery{
	font-family: $font-stack;
	img:hover{
		opacity: 0.5;
	}
	.wrapper{
		position: relative;
		.info{
			position: absolute;
			top: 0;
			left: 0;
			font-size: 0.6em;
			padding: 0.5em;
			margin: 0.5em;
			width: auto;
			height: auto;
			color: transparent;
			background-color: transparent;
			border-radius: 1em;
			transition: box-shadow 0.2s linear;
			&:hover{
				background-color: black;
				color: white;
				opacity: 0.5;
				box-shadow: $modal-children-shadow;
			}
			p{
				margin: 0;
			}
		}
		.del{
			position: absolute;
			top: 0;
			right: 0;
			margin: 0.5em;
			border-radius: $del-radius;
			width: 2 * $del-radius;
			height: 2 * $del-radius;
			background-color: transparent;
			transition: box-shadow 0.2s linear;
			&:hover{
				background-color: #b81d18;
				opacity: 0.5;
				box-shadow: $modal-children-shadow;
			}
		}
	}
}
.z-g-modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8); 
	.z-g-modal-banner{
		position: absolute;
		width: 300%;
		height: 100%;
		top: 0;
		left: -100%;
		img{
			position: absolute;
			top: 50%;
			box-shadow: $modal-children-shadow;
			transition: left 0.5s linear;
			transform: translate(-50%, -50%);
			&.w-first{
				width: 22%;
			}
			&.h-first{
				height: 66%;
			}
		}
		.z-g-modal-b-mid{
			left: $banner-mid-pos;
		}
		.z-g-modal-b-prev{
			left: $banner-prev-pos;
		}
		.z-g-modal-b-next{
			left: $banner-next-pos;
		}
	}
	.arrow{
		position: absolute;
		width: 0;
		height: 0;
		border: $arrow-height solid transparent;
		top: 50%;
	}
	.arrow-prev{
		border-right: $arrow-width solid $arrow-color;
		left: $arrow-displace;
		&:hover{
			border-right: $arrow-width solid $arrow-hover-color;
		}
	}
	.arrow-next{
		border-left: $arrow-width solid $arrow-color;
		right: $arrow-displace;;
		&:hover{
			border-left: $arrow-width solid $arrow-hover-color		
		}
	}
}
.z-g-modal-hide{
	visibility: hidden;
}
.z-g-modal-show{
	visibility: visible;
}