$border-style: 1px solid gray;

$msg-color: #0099cc;
$msg-font-color: #666666;
$failed-color: #cc3333;
$successful-color: #339933;

form[class^='ff']{
	font-family: 'Microsoft YaHei';

	input[class^='ff-']{
		outline: none;
		border: $border-style;
		border-radius: 5px;
		display: block;
		height: 2em;
		padding: 0 1em;
		color: #666666;
		transition: box-shadow 0.5s;
	}

	input[type='submit'], input[type='button']{
		&:hover{
			border-color: $msg-color;
			color: $msg-color;
		}
	}

	input{
		&.ff-msg{
			border-color: $msg-color;
			&:focus{
				box-shadow: 0 0 3px 1px $msg-color;
			}
		}
		&.ff-failed{
			border-color: $failed-color;
		}
		&.ff-successful{
			border-color: $successful-color;
		}
	}

	span{
		font-size: 0.8em;
		padding: 0 0.5em;
	}

	span.ff-msg{
		color: $msg-font-color;
	}
	span.ff-failed{
		color: $failed-color;
	}
	span.ff-successful{
		color: $successful-color;
	}
}