.z-date {
  position: relative; }
  .z-date div.z-d-show {
    padding: 5px; }
    .z-date div.z-d-show input {
      width: 12em;
      height: 1.2em;
      padding: 0 0.5em; }
  .z-date div.z-d-pad {
    position: absolute;
    z-index: 2147483647;
    padding: 0 1em;
    margin: 5px 0;
    text-align: center;
    background-color: white; }
    .z-date div.z-d-pad div.z-d-head {
      padding: 2px; }
      .z-date div.z-d-pad div.z-d-head * {
        display: inline-block; }
      .z-date div.z-d-pad div.z-d-head input {
        padding: 0 2px;
        margin: 0 5px; }
        .z-date div.z-d-pad div.z-d-head input.z-d-m {
          width: 1.5em; }
        .z-date div.z-d-pad div.z-d-head input.z-d-y {
          width: 3em; }
    .z-date div.z-d-pad div.z-d-cal {
      cursor: pointer; }
      .z-date div.z-d-pad div.z-d-cal div {
        margin: 1em 0; }
        .z-date div.z-d-pad div.z-d-cal div span {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 2em;
          display: inline-block; }

.z-date {
  font-family: "Microsoft YaHei"; }
  .z-date div.z-d-show input {
    border: 1px solid #989898;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #989898;
    transition: box-shadow 0.2s linear; }
    .z-date div.z-d-show input:hover {
      border-color: #202020;
      box-shadow: 0 0 2px 2px #989898; }
  .z-date div.z-d-pad {
    border: 1px solid #989898;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 1px 1px #989898; }
    .z-date div.z-d-pad div.z-d-head span.z-d-prev {
      display: inline-block;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-right: 8px solid #989898;
      float: left; }
      .z-date div.z-d-pad div.z-d-head span.z-d-prev:hover {
        border-right-color: #202020; }
    .z-date div.z-d-pad div.z-d-head span.z-d-next {
      display: inline-block;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left: 8px solid #989898;
      float: right; }
      .z-date div.z-d-pad div.z-d-head span.z-d-next:hover {
        border-left-color: #202020; }
    .z-date div.z-d-pad div.z-d-head input {
      outline: none;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: lighter;
      font-color: #989898; }
      .z-date div.z-d-pad div.z-d-head input:hover {
        border: 1px solid #989898;
        border-radius: 2px; }
    .z-date div.z-d-pad div.z-d-cal div {
      font-size: 14px; }
      .z-date div.z-d-pad div.z-d-cal div span {
        color: #202020;
        transition: background-color 0.2s linear; }
      .z-date div.z-d-pad div.z-d-cal div.z-d-cal-h span {
        color: #d81d18; }
      .z-date div.z-d-pad div.z-d-cal div.z-d-cal-b span:hover {
        font-weight: bold; }
    .z-date div.z-d-pad div.z-d-cal .z-d-not-in {
      color: #989898; }
    .z-date div.z-d-pad div.z-d-cal .z-d-ran {
      background-color: #93b1c6; }
    .z-date div.z-d-pad div.z-d-cal .z-d-ter {
      border-radius: 2px;
      background-color: #004687;
      color: white; }

/*# sourceMappingURL=t.css.map */
