.field{
	/*
	display: flex;
	align-items: flex-end;
	*/
	margin: 1em 0;
	position: relative;
	height: 120px;
}
.elem{
	width: 20px;
	margin: 0 2px;
	background-color: red;
	position: absolute;
	bottom: 0;
	transition: left 60ms;
}