*{
	margin: 0;
	padding: 0;
}
.container{
	padding: 10px;
}
*[class*="col-"]{
	height: 50px;
	border: 1px solid #999;
	background-color: #eee;
	margin: 10px;
	float: left;
}
$numOfCols: 12;
$gutter: 22px;
@media screen and (max-width: 768px){
	@for $i from 1 through 12{
		.col-s-#{$i}{
			width: calc(#{100% / $numOfCols * $i} - #{$gutter});
		}
	}
}
@media screen and (min-width: 768px){
	@for $i from 1 through 12{
		.col-l-#{$i}{
			width: calc(#{100% / $numOfCols * $i} - #{$gutter});
		}
	}
}