$icon-color: black;
$icon-size: 0.6em;

$icon-hori: $icon-size / 2 solid transparent;
$icon-vert: $icon-size solid $icon-color;

$dir-height: 1.5em;

$found-color: red;

.dir-icon-collapse{
	height: 0;
	width: 0;
	border-bottom: $icon-hori;
	border-top: $icon-hori;
	border-left: $icon-vert;
	display: inline-block;
}
.dir-icon-open{
	height: 0;
	width: 0;
	border-left: $icon-hori;
	border-right: $icon-hori;
	border-top: $icon-vert;
	display: inline-block;
}
.dir-icon-none{
	height: $icon-size;
	width: $icon-size;
	display: inline-block;
}
.dir{
	margin-left: 1em;
}
.dir-name-text{
	height: $icon-size;
	margin-left: 0.5em;
}
.dir-body{
	overflow: visible;
}
.dir-body-collapse{
	height: 0;
	overflow: hidden;
}
.found{
	color: $found-color;
}