/*
 * line-height
 */
body{
	background-color: #dddddd;
	padding: 0;
	margin: 0;
}
.navbar{
	background-color: #303030;
	position: relative;
	height: 5em;
}
.navbar > img{
	height: 100%;
}
.navbar-links{
	position: absolute;
	top: 0;
	right: 1em;
	margin: 0;
}
.navbar-links > li{
	float:left;
	margin-right: 1em;
	margin-left: 1em;
}
.navbar-links > li > a{
	color: white;
	text-decoration: none;
	line-height: 5em;
}
.navbar-links > li > a:hover{
	color:gray;
}
article, section, aside{
	background-color: white;
	border-color: gray;
	margin: 1em;
	padding: 1em;
	border-width: 1px;
	box-shadow: 2px 2px 2px 1px gray;
}
article > header > h3, section > header > h3{
	color: gray;
}
article > header > p, section > header > p{
	color: gray;
	font-size: 0.8em;
}
.pictures{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 1em;
	margin: 1em;
	width: 10em;
	height: 10em;
	text-align: center;
}
.pictures > p{
	height: 20%;
	margin: 0;
}
.pictures > img{
	height: 80%;
	width: 100%;
}
.mytable{
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	font-size: 0.9em;
	width: 100%;
}
.mytable, .mytable td{
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	border-collapse: collapse;
	padding: 2px;
}
.mytable > thead{
	background-color: #303030;
	color: white;
	font-weight: bold;
}
.mytable > tfoot{
	background-color: silver;
	font-weight: bold;
}
.sidebar form{
	font-size: 0.8em;
}
.sidebar form div{
	margin: 0.5em;
}
.sidebar header{
	border-left-style: solid;
	border-color: silver;
	border-left-width: 3px;
	height: 2em;
	padding-left: 1em;
	font-weight: bold;
}
#form-person > div{
	margin: 1em;
}
.form-title{
	float: left;
	width: 30%;
	text-align: right;
}
.form-tips{
	margin: 0.5em 0 0.5em 30%;
	color: gray;
}
.btn{
	width: 100%;
	height: 3em;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	color: white;
	background-color: #3333CC;
	font-weight: bold;
	font-size: 1.25em;
}
.btn:hover{
	background-color: #3300CC; 
}
.btn:active{
	background-color: #333399;
}