.z-brick{
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.z-brick-row{
	width: 100%;
	overflow: hidden;
}
.z-brick-row div{
	box-sizing: border-box;
	padding: 5px;
	float: left;
}
.z-brick-row div img{
	width: 100%;
	height: 100%;
}