$head-height: 20px;

$arrow-color: #606060;
$arrow-hover-color: #989898;
$arrow-h: 6px;

div.z-date{
	font-family: 'Microsoft YaHei';
	position: relative;
	div.z-d-show{
		padding: 5px;
		input{
			font-size: 18px;
			outline: none;
			border: 1px solid #989898;
			border-radius: 6px;
			color: #989898;
			width: 12em;
			height: 1.5em;
			padding: 0 0.5em;
			transition: box-shadow 0.2s linear;
			&:hover{
				border-color: #3399FF;
				box-shadow: 0 0 3px 2px #33CCFF;
			}
		}
	}
	div.z-d-pad{
		position: absolute;
		z-index: 999;
		background-color: white;
		border: 1px solid #989898;
		border-radius: 5px;
		box-shadow: 0 1px 1px 1px #989898;
		padding: 0 1em;
		margin: 5px 0;
		div.z-d-head{
			*{
				display: inline-block;
			}
			text-align: center;
			height: $head-height;
			padding: 2px;
			span{
				width: 0;
				height: 0;
				border: none;
				border-top: $arrow-h solid transparent;
				border-bottom: $arrow-h solid transparent;
			}
			span.z-d-prev, span.z-d-next{
				margin: $head-height / 2 - $arrow-h;
			}
			span.z-d-prev{
				border-right: $arrow-h + 2px solid $arrow-color;
				float: left;
				&:hover{
					border-right-color: $arrow-hover-color;
				}
			}
			span.z-d-next{
				border-left: $arrow-h + 2px solid $arrow-color;
				float: right;
				&:hover{
					border-left-color: $arrow-hover-color;
				}
			}
			input{
				outline: none;
				border: 1px solid transparent;
				padding: 0 2px;
				margin: 0 5px;
				font-size: 12px;
				font-weight: lighter;
				font-color: $arrow-hover-color;
				&:hover{
					border: 1px solid $arrow-hover-color;
					border-radius: 2px;
				}
			}
			input.z-d-m{
				width: 1.5em;
			}
			input.z-d-y{
				width: 3em;
			}
		}
		div.z-d-cal{
			cursor: pointer;
			div{
				margin: 1em 0;
				font-size: 14px;
				text-align: center;
				span{
					user-select: none;
					-ms-user-select: none;
					-moz-user-select: none;
					-webkit-user-select: none;
					width: 2em;
					display: inline-block;
					text-align: center;
					color: #202020;
					transition: background-color 0.2s linear;
				}
				&.z-d-cal-h span{
					color: #d81d18;
				}
				&.z-d-cal-b span:hover{
					font-weight: bold;
				}
			}
			.z-d-not-in{
				color: grey;
			}
			.z-d-ran{
				background-color: #93b1c6;
			}
			.z-d-ter{
				border-radius: 2px;
				background-color: #004687;
				color: white;
			}
		}
	}
}