$mask-color: black;
$content-color: white;
$content-width: 30%;
$content-height: 30%;

div.z-modal{
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	visibility: hidden !important;

	background-color: $mask-color;
	opacity: 0.5 !important;
	div.z-modal-content{
		position: absolute !important;
		padding: 10px;
		border-radius: 5px;
		width: $content-width;
		height: $content-height;
		background-color: $content-color;
		overflow: auto;
	}
	div.z-m-c-fixed{
		top: 0 !important;
		bottom: 0 !important;
		left: 50% !important;
		margin: auto 0 auto (-$content-width/2) !important;
	}
}
div.z-modal-show{
	visibility: visible !important;
}