.z-date {
  position: relative;
  display: inline-block; }
  .z-date div.z-d-show {
    padding: 5px; }
    .z-date div.z-d-show input {
      width: 12em;
      height: 1.2em;
      padding: 0 0.5em; }
  .z-date div.z-d-pad {
    width: 14em;
    position: absolute;
    z-index: 2147483647;
    padding: 0 1em;
    margin: 5px 0;
    text-align: center;
    background-color: white; }
    .z-date div.z-d-pad div.z-d-head {
      padding: 2px;
      vertical-align: top; }
      .z-date div.z-d-pad div.z-d-head * {
        display: inline-block; }
      .z-date div.z-d-pad div.z-d-head span.z-d-prev {
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-right: 10px solid #989898;
        display: inline-block; }
        .z-date div.z-d-pad div.z-d-head span.z-d-prev:hover {
          border-right-color: #202020; }
      .z-date div.z-d-pad div.z-d-head span.z-d-next {
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-left: 10px solid #989898;
        display: inline-block; }
        .z-date div.z-d-pad div.z-d-head span.z-d-next:hover {
          border-left-color: #202020; }
      .z-date div.z-d-pad div.z-d-head input {
        padding: 0 2px;
        margin: 0 5px; }
        .z-date div.z-d-pad div.z-d-head input.z-d-m {
          width: 1.5em; }
        .z-date div.z-d-pad div.z-d-head input.z-d-y {
          width: 3em; }
    .z-date div.z-d-pad div.z-d-cal {
      cursor: pointer; }
      .z-date div.z-d-pad div.z-d-cal div {
        margin: 1em 0; }
        .z-date div.z-d-pad div.z-d-cal div span {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 2em;
          display: inline-block; }

.z-date {
  font-family: "Microsoft YaHei"; }
  .z-date div.z-d-show input {
    border: 1px solid #989898;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #989898;
    transition: box-shadow 0.2s linear; }
    .z-date div.z-d-show input:hover {
      border-color: #202020;
      box-shadow: 0 0 2px 2px #989898; }
  .z-date div.z-d-pad {
    border: 1px solid #989898;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 1px 1px #989898; }
    .z-date div.z-d-pad div.z-d-head input {
      outline: none;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: lighter;
      color: #989898; }
      .z-date div.z-d-pad div.z-d-head input:hover {
        border: 1px solid #989898;
        border-radius: 2px; }
    .z-date div.z-d-pad div.z-d-cal div {
      font-size: 14px; }
      .z-date div.z-d-pad div.z-d-cal div span {
        color: #202020;
        transition: background-color 0.2s linear; }
      .z-date div.z-d-pad div.z-d-cal div.z-d-cal-h span {
        color: #d81d18; }
      .z-date div.z-d-pad div.z-d-cal div.z-d-cal-b span:hover {
        font-weight: bold; }
    .z-date div.z-d-pad div.z-d-cal .z-d-not-in {
      color: #989898; }
    .z-date div.z-d-pad div.z-d-cal .z-d-ran {
      background-color: #93b1c6; }
    .z-date div.z-d-pad div.z-d-cal .z-d-ter {
      border-radius: 2px;
      background-color: #004687;
      color: white; }

table.z-table {
  font-family: "Microsoft YaHei";
  border-collapse: collapse;
  border: 50px solid black; }
  table.z-table td {
    text-align: center; }
  table.z-table thead.z-table-head span {
    padding: 0 2em;
    line-height: 1.7em;
    display: inline-block;
    vertical-align: middle; }
    table.z-table thead.z-table-head span.sort {
      padding: 0 0.5em; }
      table.z-table thead.z-table-head span.sort div.arrow-u {
        width: 0;
        height: 0;
        border: 0.3em solid transparent;
        border-bottom: 0.4em solid white;
        margin-bottom: 0.1em; }
        table.z-table thead.z-table-head span.sort div.arrow-u:hover {
          border-bottom-color: #989898; }
      table.z-table thead.z-table-head span.sort div.arrow-d {
        width: 0;
        height: 0;
        border: 0.3em solid transparent;
        border-top: 0.4em solid white;
        margin-top: 0.1em; }
        table.z-table thead.z-table-head span.sort div.arrow-d:hover {
          border-top-color: #989898; }

table.z-table td {
  color: #202020;
  border: 1px solid #989898;
  border-radius: 0; }
table.z-table thead.z-table-head td {
  background-color: #202020;
  color: white; }

div.z-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 2147483647;
  overflow: auto; }
  div.z-modal div.z-modal-content {
    padding: 10px;
    width: 50%; }
  div.z-modal div.z-m-c-fixed {
    margin: 8% auto; }

div.z-modal-show {
  visibility: visible; }

div.z-modal {
  font-family: "Microsoft YaHei";
  background-color: rgba(0, 0, 0, 0.5); }
  div.z-modal div.z-modal-content {
    border: 1px solid #202020;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #202020;
    background-color: white; }

/*# sourceMappingURL=components.css.map */
