*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Microsoft YaHei";
	background-color: #F8F8F8;
}
header{
	background-color: #00dddd;
	text-align: center;
	position: relative;
	height: 4em;
	line-height: 4em;
	color: #ffffff;
}
header > a{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 1em;
}
.flex-container{
	display: flex;
	display: -webkit-box;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	background-color: #ffffff;
}
nav > ul > li{
	padding: 0 1em;
	line-height: 3em;
	border-bottom: 3px solid #ffffff;
}
nav > ul > li:active{
	border-bottom: 3px solid #00dddd;
}
nav a{
	text-decoration: none;
	color: #666666;
}
.main-figure{
	display: block;
	width: 100%;
}
.label-group{
	padding: 10px;
	border-bottom: 2px solid #F8F8F8;
}
.label-group > li > p{
	text-align: center;
	line-height: 2em;
}
.circle{
	background-color: #00dddd;
	width: 50px;
	height: 50px;
	border: 1px solid #00dddd;
	border-radius: 25px;
}
.column-group > li{
	text-align: center;
	margin-bottom: 1em;
}
.column-group > li:nth-of-type(1){
	width: 30.8848%;
}
.column-group > li:nth-of-type(2){
	width: 31.3856%;
	border-right: 2px solid #F8F8F8;
	border-left: 2px solid #F8F8F8;
}
.column-group > li:nth-of-type(3){
	width: 37.7295%;
}
.column-group > li > img{
	width: 70%;
}
.column-group > li > h1{
	font-style: normal;
	font-size: 1.2em;
}
.column-group > li > h2{
	font-style: normal;
	font-size: 1em;
	color: #666666;
}
.module-group{
	margin: 1em 0;
	padding: 0 1em;
	background-color: #ffffff;
}
.module{
	overflow: hidden;
}
.module > img{
	width: calc(30% - 2px);
	float: left;
	border: 1px solid #FF0000;
}
.module > ul{
	width: 70%;
	float: right;
	flex-wrap: wrap;
}
.module > ul > li{
	width: calc(50% - 2em);
	background-color: #F8F8F8;
	margin: 0 1em 1em 1em;
	line-height: 3em;
	text-align: center;
}
.article-group{
	margin: 1em 0;
}
.article-group > article{
	border-bottom: 2px solid #F8F8F8;
	background-color: #ffffff;
	padding: 1em;
}
.article-group > article h1{
	font-size: 20pt;
	color: #707070;
}
.article-group > article img{
	width: 30%;
}
.article-r{
	width: 70%;
	float: right;
}
.article-group > article p{
	color: #B0B0B0;
}